@{
    ViewData["Title"] = "Home Page - Backend2";
}

<div class="text">
    <h1 class="display">Form parameters parsing demo</h1>
    <ul class="pages">
        <li><a href="/Calculator/ManualSingle">Manual parsing in single action</a></li>
        <li><a href="/Calculator/ManualSeparate">Manual parsing in separate actions</a></li>
        <li><a href="/Calculator/BindingParameters">Model binding (parameters)</a></li>
        <li><a href="/Calculator/BindingSeparate">Model binding (separate model)</a></li>
    </ul>
</div>